/*404 page*/
body{
  background-color: #081421;
}
.allPage {
    background: #081421;
    color: #d3d7de;
    font-family: "Courier new";
    font-size: 18px;
    line-height: 1.5em;
    cursor: default;
}

.code-area {
    position: absolute;
    padding: 2%;
    width: 320px;
    min-width: 320px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#home {
    color: white;
}

#home:hover {
    color: #1abc9c;
}

.code-area>span {
    display: block;
}
