body{
  background-color: #eaebed;
  font-family: 'Titillium Web', sans-serif;


}

.container{
  margin:0 auto;
  width: 73%;
}
hr {
    border-width: 1.5px;
    width: 40%;
    border-color: #ecf0f1;
}
/*start signlogup*/

.signlogup{
  text-align: center;
  background-color: #34495e;
  font-size: 0;
  margin-top: 70px;
  padding:20px 20px;
  width: 40%;
  margin: 150px auto 0 auto;
  border-radius: 10px;
}
.signlogup input, .signlogup button{
  margin: 7px auto;
  display: block;

}

#login{
  border-right: solid 1.5px white;
  cursor: pointer;

}
#signUp{
  cursor: pointer;

}
.signlogup button{
  padding: 10px;
  width: 25%;
  background: #7f8c8d;
  color: white;
  text-align: center;
  font-size: 20px;
  cursor: pointer;
  transition: 0.3s;
  margin-top: 5%;
  font-family: 'Titillium Web', sans-serif;



}
 .signlogup button:hover{
  background-color: #1abc9c;

}

.signlogup input{
  /*height: 40%;
  width: 45%;
  text-align: center;
  font-size: 18px;*/
  border: none;
width: 45%;
padding: 10px;
font-size: 24px;
margin-bottom:2%;
font-family: 'Titillium Web', sans-serif;



}
.signlogup span{
  padding: 10px 36px;
  background-color: #16a085;
  margin: 0;
  color: #fff;
  font-size: 21px;
}

.signlogup form{
  display: none;
}

.signlogup span:hover{
  background-color: #1abc9c;
}

.signBar{
  margin: 20px 0;
}
/*end signlogup*/
